body {
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.details {
  margin: 50px;
  font-size: 2em;
}

.container {
    background-color: gray;
}

.title {
  font-size: 2em;
  text-align: center;
}

.description {
  margin: 0 1em 1em 1em;
  font-size: 1.5em;
}

#menu {
  margin: 0 1em 1em 1em;
  font-size: 2em;
}

