/* collections.css */

#index {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#index #site-title {
  font-size: 2.5em;
  margin-top: var(--top-header-height);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

#install-banner {
  display: none;
  font-size: 1.5em;
  margin: 1em;
  margin-top: 1em;
  background-color: #f0f7fb;
  border: solid 1px #3498db;
  border-radius: 6px;
  overflow: hidden;
  padding: 5px;
}

#index .collections {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

#index .collection {
  /* border-top: #638ec0 2px solid; */
  border-bottom: #638ec0 1px solid;
  max-width: 480px;
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  /* In landscape allow multiple columns. */
  #index .collections {
    flex-direction: row;
  }
  /* In landscape put a box around the collection. */
  #index .collection {
    border: #638ec0 1px solid;
  }
}

#index .title {
  font-size: 2em;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  text-align: center;
}

#index .posted {
  font-size: .8em;
  margin-top: 2px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

#index .thumbnail {
  width: 100%;
  max-width: 480px;
}

@media only screen and (max-height: 575.98px) and (orientation: landscape) {
  #index .thumbnail {
    /* How do you make the thumbnail the height of the screen in landscape? */
    /* https://stackoverflow.com/questions/56622926/safari-viewport-bug-issues-with-fixed-position-and-bottom-or-top */
    height: calc(var(--vh, 1vh) * 100);
  }
}

#index .description {
  font-size: 1.5em;
  margin-left: 5px;
  margin-right: 5px;
}

#thumbnails {
  margin: 0;
  padding: 0;
}

#thumbnails #title {
  font-size: 2em;
  text-align: center;
}

#thumbnails #description {
  margin: 0 1em 1em 1em;
  font-size: 1.5em;
}

#thumbnails #posted {
  margin: 0 1em 1em 1em;
  font-size: 1.5em;
}

#images {
  margin: 0;
  padding: 0;
}

:root {
  --top-header-height: 60px;
}

#images .container {
  background-color: gray;
}

#images .title {
  font-size: 2em;
  text-align: center;
}

#images .description {
  margin: 0 1em 1em 1em;
  font-size: 1.5em;
}

#images #menu {
  margin: 0 1em 1em 1em;
  font-size: 2em;
}

#top-bar {
  height: var(--top-header-height);
}

.bottom-menu {
  height: 6em;
  padding-top: 12px;
  border-top: 1px solid lightgray;
}

.bottom-menu .icon {
  width: 2em;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 4px;
  float: left;
}

.bottom-menu .icon-current {
  width: 2em;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 4px;
  float: left;
  background-color: cornsilk;
}

.bottom-menu .right {
  float: right;
}

