/* collections.css */

#index {
  display: flex;
  flex-direction: column;
}

#index #site-title {
  margin-top: var(--top-header-height);
  margin-left: auto;
  margin-right: auto;
}

#index .picture {
  text-align: center;
}

#index .thumbnail {
    width: 100%;
    max-width: 480px;
}

#index .title {
  font-size: 1.5em;
}

#index .description {
  font-size: 1em;
}

#index .posted {
  font-size: .8em;
}

#thumbnails {
  margin: 0;
  padding: 0;
}

#thumbnails #title {
  font-size: 2em;
  text-align: center;
}

#thumbnails #description {
  margin: 0 1em 1em 1em;
  font-size: 1.5em;
}

#thumbnails #posted {
  margin: 0 1em 1em 1em;
  font-size: 1.5em;
}

#images {
  margin: 0;
  padding: 0;
}

:root {
  --top-header-height: 60px;
}

#images .container {
  background-color: gray;
}

#images .title {
  font-size: 2em;
  text-align: center;
}

#images .description {
  margin: 0 1em 1em 1em;
  font-size: 1.5em;
}

#images #menu {
  margin: 0 1em 1em 1em;
  font-size: 2em;
}

#top-bar {
  height: var(--top-header-height);
}

.bottom-menu {
  height: 6em;
  padding-top: 12px;
  border-top: 1px solid lightgray;
}

.bottom-menu .icon {
  width: 2em;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 4px;
  float: left;
}

.bottom-menu .icon-current {
  width: 2em;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 4px;
  float: left;
  background-color: cornsilk;
}

.bottom-menu .right {
  float: right;
}

