// collections.css

#index {
  display: flex;
  flex-direction: column;
}

#index #site-title {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

#index .picture {
  text-align: center;
}

#index .thumbnail {
    width: 100%;
    max-width: 480px;
}

#index .title {
  font-size: 1.5em;
}

#index .description {
  font-size: 1em;
}

#index .posted {
  font-size: .8em;
}

#thumbnails #title {
  font-size: 2em;
  text-align: center;
}

#thumbnails #description {
  margin: 0 1em 1em 1em;
  font-size: 1.5em;
}

#thumbnails #posted {
  margin: 0 1em 1em 1em;
  font-size: 1.5em;
}

#images {
  margin: 0;
  padding: 0;
}

:root {
  --to-thumbnails-height: 100px;
}

#images #to-thumbnails {
  height: var(--to-thumbnails-height);
  background-color: gray;
}

#images #thumbnails-jump {
  height: 50px;
  background-color: #24b024fc;
  visibility: hidden;
}

#images .container {
  background-color: gray;
}

#images .title {
  font-size: 2em;
  text-align: center;
}

#images .description {
  margin: 0 1em 1em 1em;
  font-size: 1.5em;
}

#images #menu {
  margin: 0 1em 1em 1em;
  font-size: 2em;
}

