<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<!--$ nextline -->
  <title>{s.title}</title>
  <link rel="stylesheet" href="../collections.css">
  <script type="text/javascript" src="../js/image.js"></script>
  <!-- <script type="text/javascript" src="../pages/collection-1.json"></script> -->
</head>
<body id="image-page">
<!--$ block -->
<!--$ : image = s.images[0] -->
  <div id="area">
    <img id="image" src="{image.url}"
         width="{image.width}" height="{image.height}" >
  </div>
  <div>
    <h3 id="title">{image.title}</h3>
    <p id="description">{image.description}</p>
    <p id="keywords">{image.keywords}</p>
    <p id="favorite"><input type="checkbox" id="favorite" name="favorite" value="favorite">favorite</p>
  </div>
<!--$ endblock -->
</body>
</html>
