<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
<!--$ nextline -->
  <title>{s.title}</title>
  <link rel="stylesheet" href="../collections.css">
  <script type="text/javascript" src="../image.js"></script>
</head>
<body id="image-page">
<!--$ block -->
  <div>
    <img id="image" src="{s.url}" alt="{s.title}">
  </div>
  <div>
    <h3 id="title">{s.title}</h3>
    <p id="description">{s.description}</p>
    <p id="keywords">{s.keywords}</p>
    <p id="favorite"><input type="checkbox" id="favorite" name="favorite" value="favorite">favorite</p>
  </div>
<!--$ endblock -->
</body>
</html>
