<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Flenniken.net Collections</title>
  <meta name="description"
    content="Flenniken.net photo collections.">
  <meta name="author" content="Steve Flenniken">
  <meta name="theme-color" content="#B12A34">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:image" content="icons/icon-512.png">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="collections.css">
  <link rel="manifest" href="collections.webmanifest">
  <script src="js/app.js" defer></script>
  <style>
    .thumbnail {width: 300px; height: 300px;}
  </style>
</head>
<body id="collections-page">
  <h1>Flenniken.net Collections</h1>
<!--$ block -->
<!--$ : t.repeat = len(s.collections) -->
<!--$ : collection = s.collections[t.row] -->
    <a href="{collection.url}">
      <img class="thumbnail" src="{collection.thumbnail}" alt="{collection.title}">
    </a>
    <div>
      <p class="title">{collection.title}</p>
      <a href="{collection.url}">
        <p class="description">{collection.description}</p>
      </a>
      <p class="posted">{collection.posted}</p>
    </div>
<!--$ endblock -->
  <div>
<!--$ nextline -->
    <p>{s.numberOfCollections} collections</p>
  </div>
</body>
</html>
